.shopProfile {
}
.shopProfile-1 {
}
.shopProfile-2 {
}
.row {
  /* box-shadow: 10px 10px 10px 5px; */
  background-image: url('../img/book7.jpg');
}
.profileInfo {
}
.profileInfo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
