.shopProfile {
}
.shopProfile-1 {
}
.shopProfile-2 {
}
.row {
  border: 1px solid black;
  box-shadow: 10px 10px 10px 5px;
}
.profileInfo {
}
.profileInfo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
